.block1 {
    width: 200px;
    height: 150px;
    background-color: black;
    position: absolute;
    border-radius: 20%;
    top: 100px;
    left: 100px;
}

.block2 {
    width: 150px;
    height: 100px;
    background-color: black;
    border-radius: 45%;
    position: absolute;
    top: 80px;
    left: 130px;
}

.block3 {
    width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 100px solid black;
    position: relative;
    left: 90px;
    top: 25px;
}

.wuho1 {
    width: 50px;
    height: 75px;
    background-color: black;
    border-radius: 45%;
    position: absolute;
    top: 0px;
    left: -20px;
    rotate: 10deg;
}

.w {
    width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 100px solid black;
    position: relative;
    left: 195px;
    top: -75px;
}

.wuho2 {
    width: 50px;
    height: 75px;
    background-color: black;
    border-radius: 45%;
    position: absolute;
    top: 0px;
    left: -20px;
    rotate: 10deg;
}

.oko1 {
    width: 50px;
    height: 50px;
    background-color: rgb(251, 224, 24);
    border-radius: 50%;
    position: relative;
    left: 145px;
    top: -85px;
}

.oko2 {
    width: 50px;
    height: 50px;
    background-color: rgb(251, 224, 24);
    border-radius: 50%;
    position: relative;
    left: 220px;
    top: -135px;
}

.gl1 {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
}

.gl2 {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
}

.mord {
    width: 65px;
    height: 85px;
    background-color: #ccc1b2;
    border-radius: 20%;
    position: relative;
    left: 175px;
    top: -140px;
}

.nis {
    width: 0; 
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 15px solid #ef7d7d;
    position: absolute;
    top: 5px;
    left: 15px;
}

.m1 {
    width: 5px;
    height: 30px;
    background-color: #ef7d7d;
    position: absolute;
    rotate: 30deg;
    left: 25px;
    top: 10px;
}

.m2 {
    width: 5px;
    height: 30px;
    background-color: #ef7d7d;
    position: absolute;
    rotate: -30deg;
    left: 35px;
    top: 10px;
}

.v1 {
    width: 35px;
    height: 60px;
    background-color: #b95b5b;
    border-radius: 40%;
    position: absolute;
    top: 40px;
    left: 140px;
    rotate: 10deg;
}

.v2 {
    width: 30px;
    height: 55px;
    background-color: #b95b5b;
    border-radius: 40%;
    position: absolute;
    top: 40px;
    left: 250px;
    rotate: 10deg;
}

.vus1 {
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 180px;
    left: 80px;
    rotate: 10deg;
}

.vus2 {
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 190px;
    left: 75px;
}

.vus3 {
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 80px;
    rotate: -10deg;
}


.vus1-r {
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 280px;
    rotate: 10deg;
}

.vus2-r {
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 190px;
    left: 280px;
}

.vus3-r {
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 180px;
    left: 280px;
    rotate: -10deg;
}

.shuba1 {
    width: 70px;
    height: 90px;
    background-color: #ccc1b2;
    border-radius: 20%;
    position: absolute;
    top: 255px;
    left: 100px;
    rotate: -10deg;
}

.shuba2 {
    width: 0; 
    height: 0;
    border-top: 50px solid #ccc1b2;
    border-left: 60px solid transparent;
    position: absolute;
    rotate: -10deg;
    left: 115px;
    top: 340px;
}

.shuba3 {
    width: 0; 
    height: 0;
    border-top: 120px solid #ccc1b2;
    border-left: 60px solid transparent;
    position: absolute;
    left: 130px;
    top: 380px;
}

.shuba4 {
    width: 170px;
    height: 30px;
    background-color: #ccc1b2;
    border-radius: 15%;
    position: absolute;
    top: 252px;
    left: 140px;
}

.shuba5 {
    width: 0; 
    height: 0;
    border-top: 205px solid #ccc1b2;
    border-right: 160px solid transparent;
    position: absolute;
    top: 280px;
    left: 170px;
    rotate: -10deg;
}

.shuba6 {
    width: 70px;
    height: 70px;
    background-color: #ccc1b2;
    position: absolute;
    top: 280px;
    left: 165px;
}

.tulob {
    width: 210px;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 270px;
    left: 100px;
}

.tulob2 {
    width: 0; 
    height: 0; 
    border-bottom: 100px solid black;
    border-right: 130px solid transparent;
    position: absolute;
    left: 310px;
    top: 275px;
}

.tulob3 {
    width: 130px;
    height: 195px;
    background-color: black;
    position: absolute;
    top: 375px;
    left: 310px;
}

.noga1 {
    width: 170px;
    height: 170px;
    background-color: #ccc1b2;
    border-radius: 50%;
    position: absolute;
    left: 250px;
    top: 380px;
}

.noga2 {
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 255px;
    top: 380px;
}

.lapa1 {
    width: 70px;
    height: 40px;
    background-color: #ccc1b2;
    border-radius: 30%;
    position: relative;
    left: 80px;
    top: 150px;
}

.k1 {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 15px;
}

.k2 {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 30px;
}

.k3 {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 45px;
}

.lapa2 {
    width: 70px;
    height: 40px;
    background-color: #ccc1b2;
    border-radius: 30%;
    position: relative;
    left: 170px;
    top: 110px;
}

.k1r {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 15px;
}

.k2r {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 30px;
}

.k3r {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 45px;
}



.lapa3 {
    width: 100px;
    height: 40px;
    background-color: #ccc1b2;
    border-radius: 30%;
    position: relative;
    left: 260px;
    top: 70px;
}

.k1w {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 15px;
}

.k2w {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 30px;
}

.k3w {
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 45px;
}



.hw1 {
    width: 230px;
    height: 70px;
    background-color: black;
    position: absolute;
    left: 400px;
    top: 500px;
}

.hw2 {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    background-color: #ccc1b2;
    position: absolute;
    left: 580px;
    top: 500px;
}